@charset "utf-8";
/* CSS Document */

@import url(https://fonts.google.com/specimen/Archivo+Black);

body {
	margin: 0 ; 
	background-color: #d5d5d5;
	padding-top: 20px;


}



.naslov {
	 font-family: "Archivo Black", sans-serif;
	 color: #244064;
	 display: flex;
	 justify-content: center;
	font-size: 50px;
	font-style: italic;
	
}

.tekst1 {
	font-size: 24px;
	font-family: "Archivo Black", sans-serif;
	color: #4b9fd3;
	text-align: center;
	font-weight: bold;
}

#lista1{
	font-size: 16px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	list-style: circle;
	
	
	
	
}

#lista2{
	font-size: 16px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	
	
	
	
}


.sve {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	margin: 0 auto;
}


#ul1, #sub1, #ol1 {
	display: flex;
	width: 150px;
	height: 150px;
	background-color: #1c1c1a;
	align-items: center;
	
	
	
	
	


}


#tekst2 {
	
	font-size: 36px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	margin: 0 auto;

}

.tekst3 {
	
	font-size: 16px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	margin: 0 auto;

}

#login {

	display: flex;
	height: auto;
	width: 200px;
	align-items: center;
	justify-content: center;
	padding: 20px 0px 20px 0px;
	
	margin: 0 auto;
}

#field{
	background-color: #1c1c1a;
	border: none;
}

.tekst3 {
	color: #d5d5d5;
	font-family: "Archivo Black", sans-serif;


}

#prijava {
	background-color: #d5d5d5;
	color: #1c1c1a;
	font-family: "Archivo Black", sans-serif;	

}

#prijavise {
	color: #1c1c1a;
	font-family: "Archivo Black", sans-serif;
}

table {
	width: 40%;
  margin: 20px auto;
  border-collapse: separate;
  border-radius: 20px;
  overflow: hidden;
}

th, td {
  border: 1px#1c1c1a;
  padding: 6px;
  height: 15px;
}

thead th {
  background-color: #1c1c1a;
}

.dinamo,.hajduk,.nebitni {
	background-color: #1c1c1a;

}

.tablicatekst {
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	text-align: center;
}

