@charset "utf-8";
/* CSS Document */

@import url(https://fonts.google.com/specimen/Archivo+Black);

body {
	margin: 0 ; 
	background-color: #d5d5d5;
	padding-top: 20px;
}



.sve ul li {
    margin: 2px 0; 
}



#login form > fieldset {
    padding: 20px; 

}




table thead th {
    vertical-align: middle; 

}




input[type="email"] {
    border: 2px solid #d5d5d5;

}



input[placeholder] {
    background-color: #e6e6e6;

}


select[name="spol"] {
    border: 2px solid #d5d5d5;

}



#prijavise {
    position: relative; 
    top: 0;
    left: 0;

}



#ul1 {
    float: left; 

}



#ol1 {
    float: right; 
}




.sve::after {
    content: "";
    display: block;
    clear: both; 

}



.naslov {
	 font-family: "Archivo Black", sans-serif;
	 color: #244064;
	 display: flex;
	 justify-content: center;
	font-size: 50px;
	font-style: italic;
}




.tekst1 {
	font-size: 24px;
	font-family: "Archivo Black", sans-serif;
	color: #4b9fd3;
	text-align: center;
	font-weight: bold;

}




#lista1{
	font-size: 16px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	list-style: circle;

}

#lista2{
	font-size: 16px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
}

.sve {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 35%;
	margin: 0 auto;
}

#ul1, #sub1, #ol1 {
	display: flex;
	width: 150px;
	height: 150px;
	background-color: #1c1c1a;
	align-items: center;
}

#tekst2 {
	font-size: 36px;
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	margin: 0 auto;
}

.tekst3 {
	color: #d5d5d5;
	font-family: "Archivo Black", sans-serif;

}


#login {
	display: flex;
	height: auto;
	width: 200px;
	align-items: center;
	justify-content: center;
	padding: 20px 0px 20px 0px;
	margin: 0 auto;

}



#field{
	background-color: #1c1c1a;
	border: none;


}



#prijava {
	background-color: #d5d5d5;
	color: #1c1c1a;
	font-family: "Archivo Black", sans-serif;	

}

table {
	width: 40%;
    margin: 20px auto;
    border-collapse: separate;
    border-radius: 20px;
    overflow: hidden;
}


th, td {
    padding: 6px;
    height: 15px;
}


thead th {
    background-color: #1c1c1a;
}


.dinamo,.hajduk,.nebitni {
	background-color: #1c1c1a;
}



.tablicatekst {
	font-family: "Archivo Black", sans-serif;
	color: #d5d5d5;
	text-align: center;
}


@media (max-width: 700px) {

    .sve {
        flex-direction: column;
        width: 90%;
    }

    #ul1, #sub1, #ol1 {
        width: 90%;
        margin-bottom: 10px;
    }

    table {
        width: 90%;
    }

    iframe {
        width: 90%;
        height: auto;
    }
}


